@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body {
    /* background-color: bisque; */
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

#page-container {
    position: relative;
    min-height: 100vh;
}
  
#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
}
  

#Header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center ;
}

h1 {
    font-size: 3vw;
}

.link {
    text-align: center;
    line-height: 32px;
    font-size: 1.7vw;
    padding: 10px;
    text-decoration: none;
    color: black;   
    transition: all 0.5s ease;
}

.link:hover {
    font-size: 2vw;
}

/* Home.html */
#intro {
    position: relative;
}

#intro img {
    width: 100%;
    height: 35vw;
}

.text-on-img {
    position: absolute;
    left: 10px;
    width: 50%;
    font-size: 2.5vw;
    color: white;    
}

#most-viewed {
    display: flex;
    padding-left: 5vw;   
    padding-top: 1vw; 
    font-size: 3vw;
}

.blog-card1, .blog-card2 {
    display: flex;
    margin-bottom: 3vw;
    margin-left: 5vw;
    margin-right: 5vw; 
    box-shadow: $shadow;
    box-shadow: rgba(0, 0, 0, 0.40) 4.5px 4.5px 6px;
    border-radius: 10px;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

.blog-card1:disabled {
    pointer-events: none;
}

.blog-card2:disabled {
    pointer-events: none;
}
  
.blog-card1:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.blog-card2:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}
  
.blog-card1:active {
    box-shadow: none;
    transform: translateY(0);
}

.blog-card2:active {
    box-shadow: none;
    transform: translateY(0);
}

.blog-image{
    width: 50%;
    height: 300px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.blog-description1, .blog-description2 {
    width: 100%;
    padding-left: 2vw;
    padding-right: 1vw;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-image: linear-gradient(#FEDECF,#FBF2ED);
}

.blog-overview{
    line-height: 25px; 
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#view-btn{
    background: #D88761;
    color: black;
    border-radius: 3px;
    border: none;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    transition: all 0.5s ease;
}

#view-btn:hover{
    transform: scale(1.1);
}

#more {
    font-size: 3vw;
    padding-left: 5vw;
    padding-top: 1vw;
}

#more-blogs {
    display: flex;
    justify-content: flex-start;
    margin-left: 4vw;
    margin-right: 4vw;
}

.b1, .b2, .b3 {
    display: flex;
    flex-direction: column;
    padding: 1vw;
    align-items: center;
    margin: 10px;
}

.b-img:disabled {
  pointer-events: none;
}

.b-img:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.b-img:active {
  box-shadow: none;
  transform: translateY(0);
}

.b-img {
    border-radius: 2px;
    width: 15vw;
    height: 20vw;
    box-shadow: rgba(0, 0, 0, 0.80) 4.5px 4.5px 6px;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

.b-title {
    text-decoration: none;
    color: black;
    font-size: 2vw;
    margin: 1vw;
    transition: all 0.5s ease;
}

.b-title:hover{
    color: #494949;
    font-size: 2.5vw;
}

#div-gmail-btn {
    display: flex;
    justify-content: center;
}

#gmail-btn {
    appearance: none;
    background-color: #FFFFFF;
    border-width: 0;
    box-sizing: border-box;
    cursor: pointer;
    line-height: 1em;
    opacity: 1;
    outline: 0;
    padding: 1.5em 2.2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-rendering: geometricprecision;
    text-transform: uppercase;
    transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
    display: flex;
    justify-content: center;    
    align-items: center;
    width: 20%;
    height: 4vw;
    background-color: #D88761;
    border: none;
    margin: 6vw;
    border-radius: 3px ;
}

#gmail-btn:before {
    animation: opacityFallbackOut .5s step-end forwards;
    backface-visibility: hidden;
    background-color: #FEDECF;
    clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateZ(0);
    transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
    width: 100%;
}

#gmail-btn:hover:before {
    animation: opacityFallbackIn 0s step-start forwards;
    clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

#gmail-btn:after {
      background-color: #FFFFFF;
}

#gmail-btn span {
    z-index: 1;
    position: relative;
}

.span-btn-text .mail-link {
    text-decoration: none;
    color:black;
    font-size: 2vw;
    font-weight: 500;
}  

#main-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%; 
    background-color: #D88761;
    margin-top: 6vw; 
    height: 2.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.p-footer {
    font-size: 1.5vw ;
}

.fa {
    padding: 5px;
    width: 5px;
    text-decoration: none;
    margin: 5px 2px;
}

.fa-twitter {
    color: #55ACEE;
}
     
.fa-instagram {
    color: black ;
}
      
.fa-linkedin {
    color: #007bb5;
}

.fa-github {
    color: black;
}

@media(max-width:768px){

    #most-viewed {
        font-size: 5vw;
    }

    .blog-card1, .blog-card2 {
        height: 250px;
    }

    .blog-overview {
        line-height: normal;
        height: 140px;
    }

    .blog-image {
        height: 250px;
    }

    #gmail-btn {   
        height: 22px;
    }

    .mail-link {
        font-size: 2vw;
    }


}
/* Home.html */

/* About.html */
.about-card {
    background-color: #FCDED9;
    position: relative;
    margin: 8vw;
    display: flex;
}

.card-img {
    position: absolute;
    top: 22vw;
    right:10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 28%;
    height: 40vw;
}

.text {
    padding-left: 10vw;
}

.text h3 {
    font-size: 3vw;
    word-wrap: break-word;
    width: 50%;
}

.text-on-card {
    width: 60%;
    font-size: 2.5vw;
} 

.pics {
    width: 20%
    
}

.pn-life h3 {
    font-size: 3vw;
    padding-left: 8vw;   
}

.img-box {
    margin:8vw;
    display: flex;
    justify-content: space-around;
    height: 30vw;
}
/* About.html */
