@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    /* background-color: bisque; */
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.Header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center ;
}

a {
    padding: 10px;
    text-decoration: none;
    color: black;   
}

img {
    width: 100%;
}

.text-on-img {
    color: white;    
}

.most-viewed {
    display: flex;
    padding-left: 100px;   
    padding-top: 40px; 
    font-size: 20px;
}

.more {
    padding-left: 100px;
    padding-top: 40px;
}

.gmail-btn {
    display: flex;
    justify-content: center;    
}

button {
    width: 150px;
    height: 40px;
    background-color: #D88761;
    border: none;
}

.mail-link {
    color: white;
    font-size: 15px;
    font-weight: 500;
}

#main-footer {
    background-color: #D88761;
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fa {
    padding: 5px;
    width: 5px;
    text-decoration: none;
    margin: 5px 2px;
}
.fa-twitter {
    color: #55ACEE;
}
     
.fa-instagram {
    color: black ;
}
      
.fa-linkedin {
    color: #007bb5;
}

.fa-github {
    color: black;
}
